.tab-img {
  width: 150px;
  cursor: pointer;
}

.ico {
  font-size: 15pt;
}

.ico:hover {
  cursor: pointer;
}

.edit-ico {
  margin-bottom: 10px;
  color: cornflowerblue;
}

.del-ico {
  color: orangered;
}

.spec-b {
  cursor: pointer;
}

.spec-b:hover {
  color: slategrey;
}

.url-input {
  margin-top: 10px;
}

.form-bike {
  margin: 0 auto;
  min-width: 450px;
  max-width: 900px;
}

#bikes-table>tr {
  height: 150px;
}

.tb {
  /*margin-top: 15px;*/
}

.tb-img {
  /*background-color: white;*/
  vertical-align: middle !important;  
}

.tb-btn {
  width: 48px;
}

.tb-serial {
  width: 13%;
}

.tb-special {
  word-wrap: break-word;
}

.input-img {
  width: 150px;
}

.empty-label {
  opacity: 0;
}

.drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold'Vollkorn';
  color: #bbb;
}

.bike-input {
  padding-right: 15px;
  padding-left: 15px;
}

.bike-input-float {
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.serial-input {
  width: 10em;
}

.color-input {
  width: 13em;
}

.model-input {
  width: 18em;
}

.date-input {
  width: 9.2em;
}

.city-input {
  width: 18em;
}

.dropzone {
  border: 2px dashed #0087F7 !important;
  border-radius: 5px;
  background: white;
  color: #646C7F;
}
